[probe]
pin: ^ar33
x_offset: 25.0
y_offset: 6.0
# + to niżej
# z_offset: 1.83
speed: 2.00
samples: 3
sample_retract_dist: 2.0
samples_result: median
samples_tolerance: 0.01        # Maksymalny dopuszczalny rozrzut między 3 próbkami
samples_tolerance_retries: 3   # Liczba powtórzeń w przypadku wykrycia szumu/odchylenia


# [homing_heaters]
# steppers: stepper_z
# heaters: extruder, heater_bed

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 35,16
mesh_max: 286,295
probe_count: 5,5
fade_start: 1.0
fade_end: 6.0
split_delta_z: .01
move_check_distance: 4.0
mesh_pps: 3,3
algorithm: bicubic
bicubic_tension: .2

[input_shaper]
shaper_freq_x: 43
shaper_type_x: ei
shaper_freq_y: 23
shaper_type_y: mzv

[bed_screws]
screw1: 15,10                   # BED_SCREWS_ADJUST
screw1_name: front left screw
screw2:290,305
screw2_name: rear right screw
screw3:15,305
screw3_name: rear left screw
screw4:290,10
screw4_name:front right screw
horizontal_move_z: 5
probe_height: 0
speed: 50
probe_speed: 5

[screws_tilt_adjust]
screw1: 0,10                       # SCREWS_TILT_CALCULATE
screw1_name: front left screw
screw2: 270,10
screw2_name: front right screw
screw3: 270,305
screw3_name: rear right screw
screw4: 0,305
screw4_name: rear left screw
speed: 50
horizontal_move_z: 10
screw_thread: CCW-M3

# Z_TILT_ADJUST
[z_tilt]
z_positions:
            -58, 156.5
            354, 156.5
points:
            10, 150.5
    		255, 150.5
speed: 200
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.0075

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 101

# [temperature_sensor mcu_temp]
# sensor_type: temperature_mcu
# min_temp: 0
# max_temp: 100
