[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100
square_corner_velocity: 5.0

[stepper_x]
step_pin: ar17
dir_pin: ar16
enable_pin: !ar48

# step_distance: .00623341
rotation_distance: 39.64
microsteps: 32
full_steps_per_rotation: 200

endstop_pin: ^ar37
position_endstop: 0
position_max: 296
homing_speed: 40.0
second_homing_speed: 5.0
homing_retract_dist: 5

[stepper_y]
step_pin: ar54
dir_pin: ar47
enable_pin: !ar55

# step_distance: .006243
rotation_distance: 39.64
microsteps: 32
full_steps_per_rotation: 200

endstop_pin: ^ar35
position_endstop: 0
position_max: 305
homing_speed: 50
second_homing_speed: 10.0
homing_retract_dist: 5

[stepper_z]
step_pin: ar57
dir_pin: ar56
enable_pin: !ar62

# step_distance: .0006234172
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

endstop_pin: probe:z_virtual_endstop
position_max: 260
position_min: -2.5
homing_speed: 6.0
second_homing_speed: 1.0
homing_retract_dist: 3.0

[stepper_z1]
step_pin: ar26
dir_pin: ar25
enable_pin: !ar27
microsteps: 32
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

[extruder]
step_pin: ar23
dir_pin: !ar22
enable_pin: !ar24

# step_distance: 0.00355110000
rotation_distance: 45.05
microsteps: 32
full_steps_per_rotation: 400

nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 101.0
max_extrude_cross_section: 5
heater_pin: ar2
sensor_type: PT100 INA826
sensor_pin: analog9
smooth_time: 3.0
control: pid
pid_Kp: 30.656
pid_Ki: 1.762
pid_Kd: 133.353
min_extrude_temp: 170
min_temp: 0
max_temp: 350
pressure_advance: 0.029
pressure_advance_smooth_time: 0.040

[heater_bed]
heater_pin: ar9
sensor_type: Generic 3950
sensor_pin: analog11
control: watermark
min_temp: 0
max_temp: 90

# Sensor Types
#   "EPCOS 100K B57560G104F"
#   "ATC Semitec 104GT-2"
#   "NTC 100K beta 3950"
#   "Honeywell 100K 135-104LAG-J01"
#   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
#   "AD595"
#   "PT100 INA826"

[fan]
pin: ar7
max_power: 1.0
kick_start_time: 0.100

[heater_fan hotend_fan]
pin: ar3
max_power: 1.0
kick_start_time: 0.500
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
tachometer_pin: ar32
tachometer_ppr: 2
#tachometer_poll_interval:

[heater_fan controller_fan]
pin: ar8
max_power: 1.0
kick_start_time: 0.500
heater: heater_bed
heater_temp: 45.0
fan_speed: 1.0

[gcode_arcs]
resolution: 0.05

[mcu]
serial: /dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_5573631383735120C060-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None

# [resonance_tester]
# accel_chip: adxl345
# probe_points: 129.5, 146.5, 20

[safe_z_home]
home_xy_position: 123, 146.5
z_hop: 5.0

[output_pin caselight]
pin: ar6
pwm: True
value: 1
cycle_time: 0.001
hardware_pwm: True

[heater_generic chamber]
gcode_id: C
heater_pin: !ar31
#max_power:
sensor_type: Generic 3950
sensor_pin: analog15
#smooth_time:
control: watermark
max_delta: 0.5
#pid_Kp:
#pid_Ki:
#pid_Kd:
#pid_integral_max:
#pwm_cycle_time:
min_temp: 0
max_temp: 60

[verify_heater chamber]
check_gain_time: 3100
heating_gain: 1
