[include voron_purge.cfg]

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {action_call_remote_method("spoolman_set_active_spool", spool_id=params.ID|int)}
  {% else %}
    {action_call_remote_method("spoolman_set_active_spool", spool_id=None)}
  {% endif %}

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(55)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|float %}
    {% set BMP = params.BMP|default(1)|int %}
    {% set BED_TYPE = params.BED_TYPE|default("Textured PEI Plate")|string %}
	{% set RETR_LEN = params.RETR_LEN|default(0.6)|float %}
    {% set ns = namespace(plate_temp=params.PLATE_TEMP|default(55)|int) %}
    
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (czyszczenie ze starych wartości)
    SET_GCODE_OFFSET Z=0.0
    # Komora
    SET_HEATER_TEMPERATURE HEATER=chamber TARGET={CHAMBER_TEMP}
    # Ustawiamy retrakcję sprzetową
    SET_RETRACTION RETRACT_LENGTH={RETR_LEN}
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    M104 S150
    # Home the printer
    G28
    # Poziom karetki
    Z_TILT_ADJUST
    G28 Z
    # Ustawiamy PLATE_TEMP
    {% if BED_TEMP <= 60 and BED_TEMP >= 50 %}
    	{% set ns.plate_temp = 55 %}
	{% elif BED_TEMP <= 80 and BED_TEMP >= 70 %}
    	{% set ns.plate_temp = 70 %}
    {% endif %}
    {% set PLATE_TEMP = ns.plate_temp %}
    # Ustawienie Z-Offsetu po OSTATNIM G28 Z dla odpowiedniej blachy
    {% if BED_TYPE in ["Engineering Plate"] %}
        SET_GCODE_OFFSET Z=0.04 MOVE=1
        RESPOND MSG="Aktywna płyta: PEI Czarna - Baranek (Z-offset: 0.04 mm)"
        {% if BMP == 1 %}
        	BED_MESH_CALIBRATE ADAPTIVE=1
            RESPOND MSG="Aktywna płyta: PEI Czarna - Baranek (Z-offset: 0.04 mm) - adaptacyjny mesh"
        {% elif BMP == 0 %}
        	BED_MESH_PROFILE LOAD="Engineering Plate - {PLATE_TEMP}"
            RESPOND MSG="Aktywna płyta: PEI Czarna - Baranek (Z-offset: 0.04 mm) - {PLATE_TEMP}"
        {% else %}
    		RESPOND MSG="Aktywna płyta: PEI Czarna - Baranek (Z-offset: 0.04 mm) - bez kalibracji Bed Mesh"
        {% endif %}

    {% elif BED_TYPE in ["High Temp Plate"] %}
        SET_GCODE_OFFSET Z=-0.04 MOVE=1

        {% if BMP == 1 %}
        	BED_MESH_CALIBRATE ADAPTIVE=1
            RESPOND MSG="Aktywna płyta: PET Lustro - Carbon (Z-offset: -0.04 mm) - adaptacyjny mesh"
        {% elif BMP == 0 %}
        	BED_MESH_PROFILE LOAD="High Temp Plate - {PLATE_TEMP}"
            RESPOND MSG="Aktywna płyta: PET Lustro - Carbon (Z-offset: -0.04 mm) - {PLATE_TEMP}"
        {% else %}
    		RESPOND MSG="Aktywna płyta: PET Lustro - Carbon (Z-offset: -0.04 mm) - bez kalibracji Bed Mesh"
        {% endif %}

    {% elif BED_TYPE in ["Textured PEI Plate"] %}
        SET_GCODE_OFFSET Z=0.00 MOVE=1
        
        {% if BMP == 1 %}
        	BED_MESH_CALIBRATE ADAPTIVE=1
            RESPOND MSG="Aktywna płyta: PEI Złota - Matowa (Z-offset: 0.00 mm) - adaptacyjny mesh"
        {% elif BMP == 0 %}
        	BED_MESH_PROFILE LOAD="Textured PEI Plate - {PLATE_TEMP}"
            RESPOND MSG="Aktywna płyta: PEI Złota - Matowa (Z-offset: 0.00 mm) - {PLATE_TEMP}"
        {% else %}
    		RESPOND MSG="Aktywna płyta: PEI Złota - Matowa (Z-offset: 0.00 mm) - bez kalibracji Bed Mesh"
        {% endif %}
        		
    {% else %}
        # Zabezpieczenie na przypadek braku dopasowania
        SET_GCODE_OFFSET Z=0.00 MOVE=1
        RESPOND MSG="Nieznana płyta ({BED_TYPE}), ustawiono domyślny Z-offset: 0.00 mm - bez kalibracji Bed Mesh"
    {% endif %}
    # =========================================================================
	# Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Nabijamy
    # VORON_PURGE
    LINE_PURGE

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    
    # 1. Pobranie maksymalnego limitu osi Z oraz aktualnej pozycji Z
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.gcode_move.position.z|float %}
    # 2. Obliczenie bezpiecznej wysokości docelowej (podnieś o 50mm, ale max do max_z - 2mm)
    {% set target_z = [act_z + 50.0, max_z - 2.0]|min %}
    # 3. Retrakcja
    G91
    G1 E-3 F300
    G1 X15 Y15 F3000
    # 4. Bezpieczne podniesienie Z
    G90
    G1 Z{target_z} F6000
    # 5. Wyłączenie silników
    M84

[gcode_macro TEST_SPEED]
gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}

    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = printer.toolhead.axis_minimum.y + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}

    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}

        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED

    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }

    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %}
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}

        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}

        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}

        # Small patternbox
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED

[delayed_gcode CHECK_ALL_FANS]
initial_duration: 1
gcode:
    HOTEND_FAN_CHECK
    UPDATE_DELAYED_GCODE ID=CHECK_ALL_FANS DURATION=3

# Change min_rpm and max_consecutive_stops to your desired values.
[gcode_macro HOTEND_FAN_CHECK]
variable_he_stop_count: 0
gcode:
    {% set min_rpm = 3000|float %}
    {% set max_consecutive_stops = 3 %}
    {% set rpm = printer['heater_fan hotend_fan'].rpm|float %}
    {% set he_target = printer[printer.toolhead.extruder].target|float %}
    {% set he_temp = printer[printer.toolhead.extruder].temperature|float %}
    {% set fan_on_temp = printer.configfile.settings['heater_fan hotend_fan'].heater_temp|float %}
    {% set he_stop_count = printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int %}

    {% if (he_target >= fan_on_temp) and (rpm < min_rpm) and (he_temp >= fan_on_temp) %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE={he_stop_count + 1}
        M118 WARNING: Fan stoppage detected ({he_stop_count+1}/{max_consecutive_stops}).
        M400
        {% if printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int >= max_consecutive_stops-1 %}
            FAN_STOPPAGE_ROUTINE
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE=0
    {% endif %}

# Insert the gcode that you want to run when a fan stoppage is detected.
# This runs every ~3 seconds until the stop conditions are cleared.
[gcode_macro FAN_STOPPAGE_ROUTINE]
gcode:
    # If not already paused
    {% if printer['pause_resume'].is_paused|int == 0 %}
        M117 !!FAN STOPPAGE!!
        M118 FAN STOPPAGE DETECTED. PAUSING...
        PAUSE
        # Turn off the hotend.
        # !! Don't forget to turn your hotend back on before resume. !!
        # -- If using this guide's pause/resume macros (in useful_macros.html), the hotend will automatically reheat on resume
        # -- (as long as the hotend is not turned off BEFORE pause is called)
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    {% endif %}

[gcode_macro START_TEST]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(55)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|float %}
    {% set BMP = params.BMP|default(1)|int %}
    {% set BED_TYPE = params.BED_TYPE|default("Textured PEI Plate")|string %}
	{% set RETR_LEN = params.RETR_LEN|default(0.6)|float %}
    {% set ns = namespace(plate_temp=params.PLATE_TEMP|default(55)|int) %}
    
    # Use absolute coordinates
    RESPOND MSG="G90"
    # Reset the G-Code Z offset (czyszczenie ze starych wartości)
    SET_GCODE_OFFSET Z=0.0
    # Komora
	RESPOND MSG="SET_HEATER_TEMPERATURE HEATER=chamber TARGET={CHAMBER_TEMP}"
    # Ustawiamy retrakcję sprzetową
    SET_RETRACTION RETRACT_LENGTH={RETR_LEN}
    # Wait for bed to reach temperature
    RESPOND MSG="M190 S{BED_TEMP}"
    RESPOND MSG="M104 S150"
    # Home the printer
    RESPOND MSG="G28"
    # Poziom karetki
    RESPOND MSG="Z_TILT_ADJUST"
    RESPOND MSG="G28 Z"
    # Ustawiamy PLATE_TEMP
    
    {% if BED_TEMP <= 60 and BED_TEMP >= 50 %}
    	{% set ns.plate_temp = 55 %}
	{% elif BED_TEMP <= 80 and BED_TEMP >= 70 %}
    	{% set ns.plate_temp = 70 %}
    {% endif %}
    {% set PLATE_TEMP = ns.plate_temp %}

    RESPOND MSG="PLATE_TEMP = {PLATE_TEMP}"

    # Ustawienie Z-Offsetu po OSTATNIM G28 Z dla odpowiedniej blachy
    {% if BED_TYPE in ["Engineering Plate"] %}
        RESPOND MSG="SET_GCODE_OFFSET Z=0.04 MOVE=1"
        RESPOND MSG="Aktywna płyta: PEI Czarna - Baranek (Z-offset: 0.04 mm)"
        {% if BMP == 1 %}
        	RESPOND MSG="BED_MESH_CALIBRATE ADAPTIVE=1"
            RESPOND MSG="Aktywna płyta: PEI Czarna - Baranek (Z-offset: 0.04 mm) - adaptacyjny mesh"
        {% elif BMP == 0 %}
        	BED_MESH_PROFILE LOAD="Engineering Plate - {PLATE_TEMP}"
            RESPOND MSG="Aktywna płyta: PEI Czarna - Baranek (Z-offset: 0.04 mm) - {PLATE_TEMP}"
        {% else %}
    		RESPOND MSG="Aktywna płyta: PEI Czarna - Baranek (Z-offset: 0.04 mm) - bez kalibracji Bed Mesh"
        {% endif %}

    {% elif BED_TYPE in ["High Temp Plate"] %}
        RESPOND MSG="SET_GCODE_OFFSET Z=-0.04 MOVE=1"

        {% if BMP == 1 %}
        	RESPOND MSG="BED_MESH_CALIBRATE ADAPTIVE=1"
            RESPOND MSG="Aktywna płyta: PET Lustro - Carbon (Z-offset: -0.04 mm) - adaptacyjny mesh"
        {% elif BMP == 0 %}
        	BED_MESH_PROFILE LOAD="High Temp Plate - {PLATE_TEMP}"
            RESPOND MSG="Aktywna płyta: PET Lustro - Carbon (Z-offset: -0.04 mm) - {PLATE_TEMP}"
        {% else %}
    		RESPOND MSG="Aktywna płyta: PET Lustro - Carbon (Z-offset: -0.04 mm) - bez kalibracji Bed Mesh"
        {% endif %}

    {% elif BED_TYPE in ["Textured PEI Plate"] %}
         RESPOND MSG="SET_GCODE_OFFSET Z=0.00 MOVE=1"
        
        {% if BMP == 1 %}
        	RESPOND MSG="BED_MESH_CALIBRATE ADAPTIVE=1
            RESPOND MSG="Aktywna płyta: PEI Złota - Matowa (Z-offset: 0.00 mm) - adaptacyjny mesh"
        {% elif BMP == 0 %}
        	BED_MESH_PROFILE LOAD="Textured PEI Plate - {PLATE_TEMP}"
            RESPOND MSG="Aktywna płyta: PEI Złota - Matowa (Z-offset: 0.00 mm) - {PLATE_TEMP}"
        {% else %}
    		RESPOND MSG="Aktywna płyta: PEI Złota - Matowa (Z-offset: 0.00 mm) - bez kalibracji Bed Mesh"
        {% endif %}
        		
    {% else %}
        # Zabezpieczenie na przypadek braku dopasowania
        RESPOND MSG="SET_GCODE_OFFSET Z=0.00 MOVE=1"
        RESPOND MSG="Nieznana płyta ({BED_TYPE}), ustawiono domyślny Z-offset: 0.00 mm - bez kalibracji Bed Mesh"
    {% endif %}
    # =========================================================================
	# Set and wait for nozzle to reach temperature
    RESPOND MSG="M109 S{EXTRUDER_TEMP}"
    # Nabijamy
    # VORON_PURGE
    RESPOND MSG="LINE_PURGE"
